html{
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, ::after{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #000000;
    color: rgb(2, 16, 16);
    box-sizing: inherit;
}

#page {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: .1rem 2rem;
    margin: 3rem auto;
    border-radius: .5rem;
    font-size: 1.2rem;
    text-align: center;
}
#page h1{
    position: absolute;
    top: 1rem;
    right: 2rem;
    color: #00ff00;
    margin-bottom: 1.5rem;
    padding: .2rem .5rem;
    background-color: #00000099;
    border-radius: .5rem;
    text-align: inherit;
    cursor: pointer;
}

#text {
    position: absolute;
    left: 1rem;
    right: 1rem;
    width: 50%;
    margin: .5rem auto;
    text-shadow: .1rem .1rem 10rem;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    color: #fbff00;
    padding: .3rem 2rem;
    border-radius: .5rem;
    font-size: 1rem;
    box-shadow: 1px 1px  2px rgb(66, 112, 143);
    border:4px outset rgb(56,87,89);
    text-align: center;
    outline: none;
    border: none;
    word-wrap: break-word;
    background-color: #000000ee;
}
#text::selection{
    background-color: transparent;
}

#copie{
    outline: none;
    margin: 7rem auto 3rem;
    color: #20f200;
    background-color: rgb(100, 58, 43);
    box-shadow: 2px 1px 2px 2px rgb(66, 112, 143);
    border: 5px outset rgb(82, 69, 10);
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #00000099;
    padding: .1rem .5rem;
    border-radius: .5rem;
    font-weight: bold;
}

#message{
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}

#prev, #next{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 7rem;
    margin: 0.4rem auto;
    font-weight: bold;
    box-shadow: 2px 1px 2px 2px rgb(66, 112, 143);
    border:4px inset rgb(112, 94, 12);
    cursor: pointer;
    outline: none;
    border: none;
    width: 5rem;
    padding: .1rem .5rem;
    border-radius: .5rem;
    font-weight: bold;
}

#prev{
    left: 2rem;
}
#next{
    right: 2rem;
}

.inactive{
    color: gray;
    background-color: #9e9a9a99;
}

.active{
    color: #20f200;
    background-color: #000000e9;
}